$brand-primary:#037b60;
$brand-secondary:#68BBAF;
$brand-success:#68BB68;
$brand-danger:#E88282;
$brand-warning: #E4952D;
$header-icon-color:#A1A1A1;
$header-bg-color:#fff;
$footer-bg-color:#474747;
$body-bg-color:#F0F3F7;
$navbar-items-color:#474747;
$body-text-color:#474747;
$menu-item-hover-bg:#92D9CE;
$heading-text-color:#000;
$status-open:#548ED4;
$status-closed:#57C790;
$status-inProgress: #ED8B00;
$status-Delayed: #FF2929;
$status-lackOfInfo:#BFBFBF;

