a.navbar-brand svg {
    width: 103px;
    height: 64px;
}

body {
    background-color: #fff;
}

.sp-header {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        height: 74px;
        align-items: stretch;

        >li {
            display: flex;
            align-items: stretch;

            >a,
            >span {
                display: flex;
                align-items: flex-end;
                font-weight: 600;
                padding: 0.2rem 1.5rem;
                border-bottom: 3px solid rgba($brand-primary, 0);
                color: $navbar-items-color;

                &.disabled,
                :disabled {
                    color: #ddd;
                }


            }

            &.active {
                >a {
                    color: $brand-primary;
                    border-bottom: 3px solid $brand-primary;
                    background-color: rgba($brand-secondary, 0.26);
                }
            }

            >span select {
                height: 18px;
                padding: 0 0.5rem;
            }
        }
    }

    .nav-item {
        .nav-link {
            &:hover {
                color: $brand-primary;
                border-bottom: 3px solid $brand-primary;
                background-color: rgba($brand-secondary, 0.26);

            }
        }
    }

    .has-megamenu.show {
        .nav-link {

            color: $brand-primary;
            border-bottom: 3px solid $brand-primary;
            background-color: rgba($menu-item-hover-bg, 0.26);


        }
    }

    .nav-item.dropdown.has-megamenu {
        .dropdown-menu.megamenu {
            border-radius: 7px;
            box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.16);

            .menu {
                .menu-header {
                    &::before {
                        display: block;
                        content: "";
                        width: 130px;
                        height: 8px;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgyIiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCAxODIgOCI+PGRlZnM+PGNsaXBQYXRoIGlkPSJiIj48cmVjdCB3aWR0aD0iMTgyIiBoZWlnaHQ9IjgiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBpZD0iYSIgY2xpcC1wYXRoPSJ1cmwoI2IpIj48cmVjdCB3aWR0aD0iMTgyIiBoZWlnaHQ9IjgiIGZpbGw9IiNmZmYiLz48cmVjdCB3aWR0aD0iNzUiIGhlaWdodD0iOCIgZmlsbD0iIzAwN2I2MSIvPjxyZWN0IHdpZHRoPSI3NSIgaGVpZ2h0PSI4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OSkiIGZpbGw9IiM2OGJiYWYiLz48cmVjdCB3aWR0aD0iNDYiIGhlaWdodD0iOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTM2KSIgZmlsbD0iIzkyZDljZSIvPjwvZz48L3N2Zz4=);
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin-bottom: 8px;
                    }
                }

                .list-group-item {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }

            .image-thumb {
                border: 1px solid $gray-300;
                border-radius: 5px;
                padding: 1rem;
            }

        }
    }

}