<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="../../styles/main.css"> -->
</head>

<body>
    <%= require('html-loader!../blocks/header.html') %>
    <main class="container pt-5 pb-5 pl-0 pr-0" id="InitiativeList">


        <div class="row">


            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <h4>
                            Initiatives
                            <br>
                            <span class="header-description text-muted">All Registerd Initiatives</span>
                        </h4>
                        <div class="filters d-flex">
                            <div class="checkbox-group d-flex">
                                <div class="custom-control custom-checkbox ml-2 mr-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Opend</label>
                                </div>
                                <div class="custom-control custom-checkbox ml-2 mr-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">closed</label>
                                </div>
                            </div>
                            <div class="input-group  table-header-search">
                                <input type="text" class="form-control" v-model="searchQuery"
                                    placeholder="Search in table" aria-label="Search in table"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="20"
                                            viewBox="0 0 21 20">
                                            <defs>
                                                <clipPath id="b">
                                                    <rect width="21" height="20" />
                                                </clipPath>
                                            </defs>
                                            <g id="a" clip-path="url(#b)">
                                                <path
                                                    d="M15.84,14.232l-3.719-3.868a6.306,6.306,0,1,0-4.829,2.253,6.241,6.241,0,0,0,3.614-1.142l3.747,3.9a.823.823,0,1,0,1.186-1.141ZM7.293,1.646A4.663,4.663,0,1,1,2.63,6.309,4.668,4.668,0,0,1,7.293,1.646Z"
                                                    transform="translate(1.971 2.096)" fill="#a1a1a1" />
                                            </g>
                                        </svg></button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">SP Number</th>
                                    <th scope="col">Initiative Name</th>
                                    <th scope="col">Initiative Owner</th>
                                    <th scope="col">Initiative Sponsor </th>
                                    <th scope="col" class="text-center">Planned start Date</th>
                                    <th scope="col" class="text-center">Planned Duration (months)</th>
                                    
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="noItems">
                                    <td colspan="7" class="text-center">No Data Found</td>
                                </tr>
                                <tr v-for="Iitem in resultQuery">
                                    <td><a class="info-btn" :href="Iitem.pUrl"><svg width="1em" height="1em"
                                                viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></a>
                                    </td>
                                    <td scope="row">{{Iitem.SPNumber}}</td>
                                    <td scope="row">{{Iitem.IName}}</td>
                                    <td><b>{{Iitem.ownDep}}</b></td>
                                    <td><b>{{Iitem.sponsorDep}}</b></td>

                                    <td class="text-primary text-center">{{Iitem.StartDate}}</td>

                                    <td class="text-center">
                                        {{Iitem.Duration}}
                                    </td>
                                    <td></td>


                                </tr>



                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex">
                        <div style="flex: 8;"> <span>showing: </span><select v-model="pagecount" @change="repaginate()">
                                <option>2</option>
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                            </select>
                        </div>
                        <div class="text-right">
                            <nav aria-label="Page navigation">

                                <ul class="pagination">

                                    <li class="page-item">
                                        <button type="button"
                                            class="page-link previous p-0 border-0 mr-2 ml-2 text-primary"
                                            :disabled="page == 1" @click="page--">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-arrow-left-short" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                            </svg> </button>
                                    </li>
                                    <!-- <li class="page-item">
                                        <button type="button" class="page-link"
                                            v-for="pageNumber in pages.slice(page-1, page+5)"
                                            @click="page = pageNumber"> {{pageNumber}} </button>
                                    </li> -->
                                    <li class="page-item">
                                        <button type="button" @click="page++" :disabled="page >= pages.length"
                                            class="page-link next p-0 border-0 mr-2 ml-2 text-primary"> <svg width="1em"
                                                height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                            </svg> </button>
                                    </li>

                                    <li> <span>Page : {{page +'/'+ pages.length}}</span> </li>

                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <%= require('html-loader!../blocks/footer.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">

    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- use the latest release -->
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>
    <!-- or use the specify version -->
    <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
    <style>
        button.page-link {
            display: inline-block;
        }

        button.page-link {
            font-size: 20px;
            color: #29b3ed;
            font-weight: 500;
        }

        .offset {
            width: 500px !important;
            margin: 20px auto;
        }
    </style>
    <script>
        Vue.component('paginate', VuejsPaginate)
        var InitiativeList = new Vue({
            el: "#InitiativeList",
            components: {

            },
            data: {
                searchQuery: null,
                pagecount: 2,
                pagerange: 3,
                projects: [{
                        pUrl: "www.google.com",
                        SPNumber: 213218,
                        IName: "Project Name",
                        ownDep: "Dep 1",
                        sponsorDep: "Dep 2",
                        StartDate: "20/10/2020",
                        Duration: "2"

                    },
                    {
                        pUrl: "www.google.com",
                        SPNumber: 213218,
                        IName: "Project Name",
                        ownDep: "Dep 1",
                        sponsorDep: "Dep 2",
                        StartDate: "20/10/2020",
                        Duration: "2"

                    },
                    {
                        pUrl: "www.google.com",
                        SPNumber: 213218,
                        IName: "Project Name",
                        ownDep: "Dep 1",
                        sponsorDep: "Dep 2",
                        StartDate: "20/10/2020",
                        Duration: "2"

                    },
                    {
                        pUrl: "www.google.com",
                        SPNumber: 213218,
                        IName: "Project Name",
                        ownDep: "Dep 1",
                        sponsorDep: "Dep 2",
                        StartDate: "20/10/2020",
                        Duration: "2"

                    },
                    {
                        pUrl: "www.google.com",
                        SPNumber: 213218,
                        IName: "Project Name",
                        ownDep: "Dep 1",
                        sponsorDep: "Dep 2",
                        StartDate: "20/10/2020",
                        Duration: "2"

                    },
                ],
                posts: this.projects,
                page: 1,
                perPage: 2,
                pages: [],
                noItems: false


            },
            methods: {
                repaginate() {
                    this.getPosts();
                    this.setPages();

                },
                getPosts: function () {

                    this.posts = this.projects;
                    this.perPage = parseInt(this.pagecount)

                },
                setPages: function () {

                    let numberOfPages = Math.ceil(this.posts.length / this.perPage);
                    this.pages = [];
                    for (let index = 1; index <= numberOfPages; index++) {
                        this.pages.push(index);
                    }
                },
                paginate: function (posts) {
                    let page = this.page;
                    let perPage = this.perPage;
                    let from = (page * perPage) - perPage;
                    let to = (page * perPage);
                    return posts.slice(from, to);
                }
            },
            computed: {
                displayedPosts() {
                    return this.paginate(this.posts);
                },
                resultQuery() {

                    if (this.searchQuery) {
                        let result = this.paginate(this.posts.filter((item) => {
                            return this.searchQuery.toLowerCase().split(' ').every(v => item.IName
                                .toLowerCase().includes(v))
                        }))

                        if (result.length > 0) {
                             this.noItems = false;
                            return  this.paginate(result);
                        } else {
                            return this.noItems = true;
                        }
                    } else {
                        return this.paginate(this.posts)
                    }


                }
            },
            watch: {
                posts() {
                    this.setPages();
                }
            },
            created() {
                this.getPosts();
            },
            filters: {
                trimWords(value) {
                    return value.split(" ").splice(0, 20).join(" ") + '...';
                }
            }

        });
    </script>

</body>

</html>