<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Contact</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <%= require('html-loader!../blocks/header.html') %>
    <main class="container pt-5 pb-5" id="ProjectCharter">
        <div class="loading" v-if="showloading">
            <img src="../../../img/SPLoading.gif" />
        </div>
        <div class="page-header d-flex pb-5">
            <h3 class="page-header__title pr-2">Project Charter</h3>
            <span class="page-header__description text-muted"> </span>
        </div>
        <form>
            <div class="form-info-card">
                <div class="d-flex">
                    <h4 class="form-info-card__title">Project Information</h4>
                    <button @click="projectInfo.areaexpanded = !projectInfo.areaexpanded" data-toggle="collapse"
                        data-target="#ProjectInfo" type="button" aria-expanded="false" aria-controls="ProjectInfo"
                        class="btn btn-icon btn-circle text-primary btn-light btn-sm"><i
                            :class="{'fa':true, 'fa-minus':projectInfo.areaexpanded, 'fa-plus':!projectInfo.areaexpanded}"></i></button>
                </div>

                <div class="card mt-2 collapse show" id="ProjectInfo" v-cloak>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Department <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.department">
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Name <span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.projectName">
                                    </div>
                                </div>


                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Sponser<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.projectSponser">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Program Name<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.programName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Manager<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.projectManager">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Sponser<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.projectSponser">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Owner<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.projectOwner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Project Budget<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail"
                                            v-bind:value="projectInfo.projectBudget +' '+ projectInfo.projectBudgetCurrency">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Start Date<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.startDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">End Date<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled readonly class="form-control disabled"
                                            id="staticEmail" v-bind:value="projectInfo.endDate">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="v-wizard">
                <!-- Step #1-->
                <div class="step " :class="{'active':steps[0].active}">
                    <div class="step-header mb-2 d-flex">
                        <div class="step__count">{{steps.indexOf(steps[0])+1}}</div>
                        <h5 class="step__title">{{steps[0].stepName}}</h5>
                        <hr>
                        <button type="button" @click="steps[0].active = !steps[0].active" data-toggle="collapse"
                            :data-target="'#'+steps[0].id" :aria-expanded="steps[0].active"
                            class="btn btn-icon btn-circle text-primary btn-light btn-sm no-collapsable"
                            :class="{'collapsed': !steps[0].active}" :aria-controls="steps[0].id">
                            <i :class="['fa' , steps[0].active? 'fa-minus' : 'fa-plus']"></i>
                        </button>
                    </div>

                    <div class="card collapse" :class="{'show': steps[0].active}" :id="steps[0].id">



                        <div class="card-body">
                            <section>
                                <div>
                                    <b class="section-title text-primary">Request Information</b>
                                </div>
                                <div class="row mt-3 mb-3">
                                    <div class="col-md-4 col-sm-12">
                                       
                                        <div class="form-group">
                                            <label for="type">Request Type <span class="text-danger">*</span></label>
                                            <select class="form-control" v-model="requestTypeSelected">
                                                <option v-for="item in requestTypes">{{item}}</option>
                                            </select>

                                        </div>
                                      
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                       
                                        <div class="form-group">
                                            <label for="type">Request Justification <span class="text-danger">*</span></label>
                                            <textarea class="form-control" v-model="requestJustification" id=""
                                                rows="3"></textarea>

                                        </div>
                                      
                                    </div>
                                 
                                </div>
                            </section>
                            <section>
                                <div>
                                    <b class="section-title text-primary">IMPACT of Project being put ‘on hold’ or
                                        cancelled</b>
                                </div>
                                <div class="row mt-3 mb-3">
                                   
                                    <div class="col-md-4 col-sm-12">
                                       
                                        <div class="form-group">
                                            <label for="type">Impact on other projects  or other entities <span class="text-danger">*</span></label>
                                            <textarea class="form-control" v-model="impactOnOtherProjects" id=""
                                                rows="3"></textarea>

                                        </div>
                                      
                                    </div>
                                  
                                    <div class="col-md-4 col-sm-12">
                                       
                                        <div class="form-group">
                                            <label for="type">Financial losses <span class="text-danger">*</span></label>
                                            <textarea class="form-control" v-model="financialLosses" id=""
                                                rows="3"></textarea>

                                        </div>
                                      
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                       
                                        <div class="form-group">
                                            <label for="type">Financial losses <span class="text-danger">*</span></label>
                                            <textarea class="form-control" v-model="otherImpacts" id=""
                                                rows="3"></textarea>

                                        </div>
                                      
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex form-actions mt-4">

                <button type="submit" class="btn btn-outline-primary">Cancel</button>
                <button type="submit" class="btn btn-primary" disabled>Submit</button>
            </div>
        </form>
    </main>
    <%= require('html-loader!../blocks/footer.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">

    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var ProjectCharter = new Vue({
            el: "#ProjectCharter",
            data: {
                showloading: false,
                submitted: false,
                draft: true,
                projectInfo: {
                    areaexpanded: true,
                    department: "IT",
                    projectName: "Internal Self Service",
                    projectSponser: "Saudi Payments - IT Department",
                    projectOwner: "Saudi Payments - IT Department",
                    invitationID: "INT2128837",
                    programName: "Vision 2030",
                    startDate: "12/12/2020",
                    endDate: "20/3/2021",
                    vendorName: "Devoteam",
                    projectBudget: "500,000",
                    projectBudgetCurrency: "SAR",
                    projectManager: "Motasem Alsmadi"
                },

                steps: [{
                    id: "STP1",
                    stepName: "Request Information & IMPACT of Project",
                    valid: false,
                    active: true

                }],
                requestJustification:'',
                requestTypeSelected:'',
                requestTypes:["On Hold","Cancellation"],
                impactOnOtherProjects:'',
                financialLosses:'',
                otherImpacts:''
            },
            created: function () {



            },
            methods: {
                saveNextStep: function (currentStep) {
                    var obj = this;
                    obj.showloading = true;
                    setTimeout(function () {
                        obj.steps[currentStep].active = false;
                        obj.steps[currentStep + 1].active = true;
                        obj.showloading = false;
                    }, 2000)

                },
                backStep: function (currentStep) {
                    this.steps[currentStep].active = false;
                    this.steps[currentStep - 1].active = true;
                },
                editItem: function (i, list) {
                    debugger;
                    this.selectedType = list[i].type;
                    this.scopeDecription = list[i].objDescription;

                    this.updatedItem = {
                        listType: list[i].type,
                        itemIndex: i,
                        objDescription: list[i].objDescription
                    }
                },
                editOverViewItem: function (i, list) {
                    debugger;
                    this.selectedOverViewType = list[i].type;
                    this.scopeDecriptionOverVeiw = list[i].objDescription;
                    this.updatedItem = {
                        listType: list[i].type,
                        itemIndex: i,
                        objDescription: list[i].objDescription
                    }

                },
                deleteItem: function (i, list) {
                    this.updatedItem = {
                        listType: "",
                        itemIndex: ""
                    }

                    return list.splice(i, 1);

                },
                saveSHItem: function () {

                    debugger
                    var obj = {
                        Role: this.SHrole,
                        Name: this.SHname
                    }
                    var newList = this.StakeholderList;

                    if (this.SHrole.length > 0 && this.SHname.length > 0) {
                        newList.push(obj);
                        return this.StakeholderList = newList;

                    }
                },

                saveOverViewItem: function () {
                    debugger
                    var obj = {
                        type: this.selectedOverViewType,
                        objDescription: this.scopeDecriptionOverVeiw
                    }
                    var newList;
                    if (this.updatedItem.listType.length > 0 && this.scopeDecriptionOverVeiw.length > 0) {

                        switch (this.updatedItem.listType) {
                            case "Objectives":
                                newList = this.objectivesList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.objectivesList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            case "Business Case / Need":
                                newList = this.BNeedCaseList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.BNeedCaseList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            case "In Scope":
                                newList = this.InScopeList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.InScopeList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            case "Out of Scope":
                                newList = this.OutScopeList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.OutScopeList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            case "Deliverables":
                                newList = this.DeliverablesList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.DeliverablesList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            case "Key Milestones":
                                newList = this.KeyMilestonesList
                                newList[this.updatedItem.itemIndex].objDescription = this
                                    .scopeDecriptionOverVeiw;
                                this.KeyMilestonesList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecriptionOverVeiw = "";
                                break;
                            default:
                                // code block
                        }
                    } else if (this.scopeDecriptionOverVeiw.length == 0) {
                        return
                    } else {
                        switch (this.selectedOverViewType) {
                            case "Objectives":
                                this.objectivesList.push(obj)
                                break;
                            case "Business Case / Need":
                                this.BNeedCaseList.push(obj)
                                break;
                            case "In Scope":
                                this.InScopeList.push(obj)
                                break;
                            case "Out of Scope":
                                this.OutScopeList.push(obj)
                                break;
                            case "Deliverables":
                                this.DeliverablesList.push(obj)
                                break;
                            case "Key Milestones":
                                this.KeyMilestonesList.push(obj)
                                break;
                            default:
                                // code block
                        }

                        this.scopeDecriptionOverVeiw = "";
                    }
                },
                saveScopeItem: function () {
                    var obj = {
                        type: this.selectedType,
                        objDescription: this.scopeDecription
                    }
                    var newList;
                    if (this.updatedItem.listType.length > 0 && this.scopeDecription.length > 0) {

                        switch (this.updatedItem.listType) {

                            case "Assumptions":
                                newList = this.asumptionsList
                                newList[this.updatedItem.itemIndex].objDescription = this.scopeDecription;
                                this.asumptionsList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecription = "";
                                break;
                            case "Constraints":
                                newList = this.constraintsList
                                newList[this.updatedItem.itemIndex].objDescription = this.scopeDecription;
                                this.constraintsList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecription = "";
                                break;
                            case "Risks":
                                newList = this.RisksList
                                newList[this.updatedItem.itemIndex].objDescription = this.scopeDecription;
                                this.RisksList = newList;
                                this.updatedItem = {
                                    listType: "",
                                    itemIndex: ""
                                }
                                this.scopeDecription = "";
                                break;
                            default:
                                // code block
                        }
                    } else if (this.scopeDecription.length == 0) {
                        return
                    } else {
                        switch (this.selectedType) {
                            case "Objectives":
                                this.objectivesList.push(obj)
                                break;
                            case "Assumptions":
                                this.asumptionsList.push(obj)
                                break;
                            case "Constraints":
                                this.constraintsList.push(obj)
                                break;
                            case "Risks":
                                this.RisksList.push(obj)
                                break;
                            default:
                                // code block
                        }

                        this.scopeDecription = "";
                    }

                },
                initForm: function () {
                    setTimeout(function () {
                        var $dueDate = $('#DueDate').datepicker({
                            uiLibrary: 'bootstrap4',
                            iconsLibrary: 'materialicons',
                            format: 'yyyy-mm-dd',
                            select: function (e, type) {
                                setTimeout(function () {
                                    projectPlan.dueDateVal = $dueDate
                                        .value();
                                }, 200)
                            }
                        });

                    }, 500)
                }
            }

        })
    </script>
</body>

</html>