<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        body.dashboard-view {
            background-color: #F0F3F7;
        }
    </style>
</head>

<body class="dashboard-view">
    <%= require('html-loader!../blocks/headerv2.html') %>
    <main class="container pt-3 pb-3 pl-0 pr-0" id="Dashboard">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h4 class="text-primary">STATUS</h4>
                <div class="card">

                    <div class="card-body row">
                        <div class="card-section col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <b class="section-title">
                                Projects
                            </b>
                            <div class="section-body">
                                <div id="piechart" class="chart"></div>
                            </div>
                        </div>
                        <div class="card-section col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <b class="section-title">
                                Programs
                            </b>
                            <div class="section-body">
                                <div id="piechartProgramms" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4 class="text-primary">PROJECTS AND PROGRAMS</h4>

                <div class="card">
                    <div class="card-body">
                        <div class="card-section">
                            <b class="section-title">
                                By Owning Division
                            </b>
                            <div class="section-body">
                                <div id="ByOwn" class="chart"></div>
                            </div>
                        </div>
                        <div class="card-section">
                            <b class="section-title">
                                By Sponsoring Division
                            </b>
                            <div class="section-body">
                                <div id="BySpon" class="chart"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h4 class="text-primary">KPIs</h4>
                <div class="card">
                    <div class="card-body row">
                     
                        <div class="card-section col-lg-12 col-md-12 col-sm-4 col-xs-12">
                            <b class="section-title">
                                Sponsoring Initiatives
                            </b>
                            <div class="section-body">
                                <div id="curve_chart" class="chart"></div>
                            </div>
                        </div>
                        <div class="card-section mt-5 col-lg-12 col-md-12 col-sm-4 col-xs-12">
                            <b class="section-title">
                                Owning Closed Projects 
                            </b>
                            <div class="section-body">
                                <div class="row count-circles">
                                    <div class="col">
                                        <div class="count">12</div>
                                        <p>On Time</p>
                                    </div>
                                    <div class="col">
                                        <div class="count">12</div>
                                        <p>With Delay</p>
                                    </div>
                                    <div class="col">
                                        <div class="count average">30%</div>
                                        <p>Average % of
                                            Delay
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-section mt-4 col-lg-12 col-md-12 col-sm-4 col-xs-12">
                            <b class="section-title">
                                Sponsoring Closed Projects 
                            </b>
                            <div class="section-body">
                                <div class="row count-circles">
                                    <div class="col">
                                        <div class="count">12</div>
                                        <p>On Time</p>
                                    </div>
                                    <div class="col">
                                        <div class="count">12</div>
                                        <p>With Delay</p>
                                    </div>
                                    <div class="col">
                                        <div class="count average">30%</div>
                                        <p>Average % of
                                            Delay
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="legends d-flex">
                    <div class="legend-item">
                     
                        <span class="color-indecator  Delayed-state"></span>
                        <span class="legend">Delayed</span>
                    </div>
                    <div class="legend-item">
                        <span class="color-indecator complete-state"></span>
                        <span class="legend ">compeleted</span>
                    </div>
                    <div class="legend-item">
                        <span class="color-indecator on-Track-state"></span>
                        <span class="legend ">On Track</span>
                    </div>
                    <div class="legend-item">
                        <span class="color-indecator slightly-Delayed-state"></span>
                        <span class="legend ">Slightly Delayed</span>
                    </div>
                    <div class="legend-item">
                        <span class="color-indecator lake-Info-state"></span>
                        <span class="legend ">Lack of Info</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%= require('html-loader!../blocks/footer.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">

    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/main.js"></script>
    <script>
        /* Get the documentElement (<html>) to display the page in fullscreen */
var elem = document.documentElement;

/* View in fullscreen */
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.webkitRequestFullscreen) { /* Safari */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE11 */
    elem.msRequestFullscreen();
  }

  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
    document.msExitFullscreen();
  }
}


        var landing = new Vue({
            el: "#Dashboard",
            data: {
                currentWeekDates: "",
                currentWeekYear: "",
                currentWeekMonth: "",
                weekEnd: "",
                WeekStart: "",
                today: new Date(),
                weekMonth: [],
                weekYear: [],

            },
            created: function () {
                //tasks&requests
                this.currentWeekDates = this.getCurrentWeek();
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['hi', 'hi'],
                        ['Delyed', 12],
                        ['On Track', 2],
                        ['Completed', 2],
                        ['In Progress', 2],
                        ['Lack of Info', 7]
                    ]);
                    var dataDonut = google.visualization.arrayToDataTable([
                        ['hi', 'hi'],
                        ['Execution', 12],
                        ['Planing', 2],
                        ['Closure', 2],

                    ]);

                    var options = {
                        chartArea: {
                            bottom:40,
                            top: 40,
                            left: 20,
                            right: 20,
                            width: "100%"
                        },
                        'height': 280,
                        colors: ['#FF2929', '#57C790', '#548ED4', '#ED8B00', '#BFBFBF'],

                        backgroundColor: {
                            fill: '#FFF',
                            fillOpacity: 0
                        },
                        legend: 'none'
                    };
                    var optionsDonut = {
                        chartArea: {
                            bottom: 40,
                            top: 20,
                            left: 20,
                            right: 20,
                            width: "100%"
                        },
                        'height': 200,
                        colors: ['#A7D9D2', '#68BBAF', '#007B61'],

                        backgroundColor: {
                            fill: '#FFF',
                            fillOpacity: 0
                        },
                        pieHole: 0.6,
                        legend: {
                            position: 'bottom'
                        },
                        pieSliceText: 'value',
                        pieSliceTextStyle: {
                            color: 'black',
                        },
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    var chartProg = new google.visualization.PieChart(document.getElementById(
                        'piechartProgramms'));
              
                    chart.draw(data, options);
                    chartProg.draw(data, options);
                   




                }
                //col chart
                function drawChartCol() {
                    // Define the chart to be drawn.
                    var dataByOwn = google.visualization.arrayToDataTable([
                        ['Type', 'Delayed', 'Completed', 'On Track', 'Slightly Delayed',
                            'Lack of Info',
                            {
                                role: 'annotation'
                            }
                        ],
                        ['D1', 10, 24, 20, 32, 18, 10],
                        ['D2', 16, 22, 23, 30, 16, 10],
                        ['D3', 28, 19, 29, 30, 12, 10],
                        ['D4', 28, 19, 29, 30, 12, 10],
                        ['D5', 28, 19, 29, 30, 12, 10],
                        ['D6', 28, 19, 29, 30, 12, 10]
                    ]);

                    var optionsByOwn = {
                        chartArea: {
                            left: 50,
                            width: "100%"
                        },
                        height:'280',
                        colors: ['#FF2929', '#548ED4', '#57C790', '#ED8B00', '#BFBFBF'],

                        isStacked: true,
                        legend: 'none'
                    };

                    // Instantiate and draw the chart.
                    var chartByOwn = new google.visualization.ColumnChart(document.getElementById('ByOwn'));
                    var chartBySpon = new google.visualization.ColumnChart(document.getElementById(
                        'BySpon'));
                    chartByOwn.draw(dataByOwn, optionsByOwn);
                    chartBySpon.draw(dataByOwn, optionsByOwn);
                }
                google.charts.setOnLoadCallback(drawChartCol);

                function drawChartLine() {
                    var dataline = google.visualization.arrayToDataTable([
                        ['Year', 'Ignition Requests', ' Planned Initiatives'],
                        ['2004', 1000, 400],
                        ['2005', 1170, 460],
                        ['2006', 660, 1120],
                        ['2007', 1030, 540]
                    ]);

                    var optionsLine = {
                        colors: ['#68BBAF', '#007B61'],
                        chartArea: {
                            bottom: 40,
                            top: 20,
                            left: 20,
                            right: 20,
                            width: "100%"
                        },
                        curveType: 'none',
                        legend: {
                            position: 'bottom'
                        }
                    };

                    var chartLine = new google.visualization.LineChart(document.getElementById(
                        'curve_chart'));

                    chartLine.draw(dataline, optionsLine);
                }
                google.charts.setOnLoadCallback(drawChartLine);
            },
            methods: {
                //get weeks days
                getCurrentWeek: function () {
                    var currentDate = moment();


                    this.weekStart = currentDate.clone().startOf('isoWeek');
                    if (currentDate.format("ddd") == 'Sun') {
                        this.weekStart = currentDate;
                    }
                    this.weekEnd = currentDate.clone().endOf('isoWeek');


                    var days = [];

                    for (var i = 0; i <= 6; i++) {

                        var day = {
                            today: false,
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return days;
                },
                getNextWeek: function () {

                    var nextDate = this.weekStart.add(1, 'weeks');
                    this.weekStart = nextDate.clone();
                    var days = [];

                    for (var i = 0; i <= 6; i++) {
                        var day = {
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return this.currentWeekDates = days;

                },
                getPrevWeek: function () {

                    var PrevDate = this.weekStart.subtract(1, 'weeks');

                    this.weekStart = PrevDate.clone();
                    this.weekEnd = PrevDate.clone().endOf('isoWeek');

                    var days = [];

                    for (var i = 0; i <= 6; i++) {
                        var day = {
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return this.currentWeekDates = days;
                }
            }
        });
    </script>

</body>

</html>