<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        body.dashboard-view {
            background-color: #F0F3F7;
        }
    </style>
</head>

<body class="dashboard-view">
    <%= require('html-loader!../blocks/headerv2.html') %>
    <nav class="navbar container sp-header Dashboard-nav p-0  ">

        <ul class="navbar-nav mr-auto">
            <!--li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
          </li-->

            <li class="nav-item">
                <a class="nav-link" href="#">Submited Service</a>
            </li>
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Forms & Services</a>
                <div class="dropdown-menu megamenu">

                    <div class="d-flex">
                        <div class="image-thumb mr-5">
                            <img src="../img/svg/MenuIcon-Services.svg" />
                        </div>
                        <div class="menu">
                            <div class="menu-header">
                                <h5>Forms & Services</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-1"><a href="/pages/Forms/ProjectPlan.html">Project Plan</a>
                                </li>
                                <li class="list-group-item p-1"><a href="/pages/Forms/scopeStatment.html">Scope
                                        Statment</a></li>

                                <li class="list-group-item p-1"><a href="/pages/Forms/changeRequest.html">Change
                                        Request</a></li>

                                <li class="list-group-item p-1"><a href="/pages/Forms/projectClouser.html">Project
                                        Clouser</a></li>


                            </ul>
                        </div>
                    </div>
                </div> <!-- dropdown-mega-menu.// -->
            </li>

        </ul>

        <hr />
    </nav>

    <main class="container pt-3 pb-3 pl-0 pr-0" id="ProjectSite">
        <div class="row">
            <div class="col-12 d-none">
                <button type="button" class="btn btn-secondary text-white">Project Info</button>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <h4>
                            Project Info
                            <br>
                            <span class="header-description text-muted">All Facts and information related to this
                                project</span>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-6 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item p-0"><span class="title">SP Number</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Project Name</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Ignition Date </span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Project Type</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Project Kind</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Duration</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Delay Days</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">% of Delay</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">% of Completion</span><span
                                        class="description">Cras justo odio</span></li>

                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item p-0"><span class="title">Owned By</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Sponsored By</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Status</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Active?</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Start Date</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Planned End Date</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Project Phase</span><span
                                        class="description">Cras justo odio</span></li>
                                <li class="list-group-item p-0"><span class="title">Number of CRs</span><span
                                        class="description">Cras justo odio</span></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 mb-3">
                <div class="weekly-calendar card border-0 p-3">
                    <div class="title">
                        <span class="title__text">This Week</span>
                        <span class="title__date pl-2 pr-2"><template v-for="item in weekMonth">{{item}}
                                {{weekMonth.length>1?' - ':''}}</template>
                            <template v-for="item in weekYear">{{' / '+item}}</template></span>
                        <a href="#" class="pl-2 pr-2 text-white">View Full Calendar</a>
                    </div>
                    <div class="calendar position-relative">
                        <div class="calender-controls">
                            <a role="button" class="prev-week" @click="getPrevWeek()"><i class="fa fa-angle-left"
                                    aria-hidden="true"></i> <span>Previous Week</span></a>
                            <a role="button" class="next-week" @click="getNextWeek()"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i> <span>Next Week</span></a>
                        </div>
                        <div class="timeline d-flex">

                            <div class="day " :class="{'today':day.today}" v-for="(day,index) in currentWeekDates">
                                <div class="day-name">{{day.dayName}}</div>
                                <div class="day-date">{{day.dayNum}}</div>
                                <div class="day-events" v-for="event in day.events">
                                    <span><a :href="event.eventUrl">{{event.eventType}} <i class="fa fa-external-link"
                                                aria-hidden="true"></i></a></span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 ">
                <div class="row">
                    <div class="col-md-4 col-sm-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">

                                <h4>
                                    Project Progress Chart

                                    <br>
                                    <span class="header-description text-muted">Donut Chart Showing Project progress in
                                        percentage</span>
                                </h4>
                            </div>
                            <div class="card-body">
                                <!-- Progress bar 1 -->
                                <div class="progress mx-auto" :data-value='projectProgress'>
                                    <span class="progress-left">
                                        <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar border-secondary"></span>
                                    </span>
                                    <div
                                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold percentage">{{projectProgress}}<sup
                                                class="small">%</sup></div>
                                    </div>
                                </div>
                                <!-- END -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">

                                <h4>
                                    Project Budget Consumption

                                    <br>
                                    <span class="header-description text-muted">Bar chart showing the percentage of
                                        budget consumption </span>
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="p-2 d-flex">
                                    <div class="budget-amount">
                                        <span>Total Amount</span>
                                        <p class="text-secondary">70,000 <span>Riyal</span></p>
                                    </div>
                                    <div class="budget-amount">
                                        <span>Consumed Amount</span>
                                        <p class="text-danger">50,300 <span>Riyal</span></p>
                                    </div>
                                </div>
                                <div class="budget-chart d-flex">
                                    <div class="total-budget d-flex" :style="{width:NotCosumedPercent }">
                                        {{NotCosumedPercent}}</div>
                                    <div class="Consumed-budget d-flex" :style="{width:ConsumedPercent }">
                                        {{ConsumedPercent}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">

                                <h4>
                                    Today's Tasks - Activities

                                    <br>
                                    <span class="header-description text-muted">upcoming 3 activities
                                    </span>
                                </h4>
                            </div>
                            <div class="card-body p-0">
                                <ul class="activities-list">
                                    <li>
                                        <a class="activity-item d-flex" href="#">
                                            <div class="activity-info">
                                                <p class="activity-title mb-0">Task Name or Description <span
                                                        class="link-icon"><svg width="1em" height="1em"
                                                            viewBox="0 0 16 16" class="bi bi-arrow-up-right"
                                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                        </svg></span>

                                                </p>
                                                <div class="activity-details">
                                                    <span class="title text-muted">Assgin To : <strong>Motasem
                                                            Alsmadi</strong></span>
                                                    <span class="title text-muted">Due Date :
                                                        <strong>27/12/2020</strong></span>
                                                </div>
                                            </div>
                                            <div class="status d-flex">
                                                <span class="badge badge-warning">Pending</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="activity-item d-flex" href="#">
                                            <div class="activity-info">
                                                <p class="activity-title mb-0">Task Name or Description <span
                                                        class="link-icon"><svg width="1em" height="1em"
                                                            viewBox="0 0 16 16" class="bi bi-arrow-up-right"
                                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                        </svg></span>

                                                </p>
                                                <div class="activity-details">
                                                    <span class="title text-muted">Assgin To : <strong>Motasem
                                                            Alsmadi</strong></span>
                                                    <span class="title text-muted">Due Date :
                                                        <strong>27/12/2020</strong></span>
                                                </div>
                                            </div>
                                            <div class="status d-flex">
                                                <span class="badge badge-warning">Pending</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="activity-item d-flex" href="#">
                                            <div class="activity-info">
                                                <p class="activity-title mb-0">Task Name or Description <span
                                                        class="link-icon"><svg width="1em" height="1em"
                                                            viewBox="0 0 16 16" class="bi bi-arrow-up-right"
                                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                                                        </svg></span>

                                                </p>
                                                <div class="activity-details">
                                                    <span class="title text-muted">Assgin To : <strong>Motasem
                                                            Alsmadi</strong></span>
                                                    <span class="title text-muted">Due Date :
                                                        <strong>27/12/2020</strong></span>
                                                </div>
                                            </div>
                                            <div class="status d-flex">
                                                <span class="badge badge-warning">Pending</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row p-facts">
                                    <div class="col-md-4 col-sm-4 mb-4 col-xs-12 text-center">
                                        <p class="text-center mb-1">Milestons</p>
                                        <h2 class="text-primary">75</h2>
                                    </div>
                                    <div class="col-md-4 col-sm-4 mb-4 col-xs-12 text-center">

                                        <p class="text-center mb-1">Issues Reported</p>
                                        <h2 class="text-warning">20</h2>
                                    </div>
                                    <div class="col-md-4 col-sm-4 mb-4 col-xs-12 text-center">

                                        <p class="text-center mb-1">Riskes</p>
                                        <h2 class="text-danger">5</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header p-0">
                                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="Milestons-tab" data-toggle="tab" href="#Milestons" role="tab" aria-controls="home" aria-selected="true">Milestons</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="Issues-tab" data-toggle="tab" href="#Issues" role="tab" aria-controls="Issues" aria-selected="false">Issues</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="Riskes-tab" data-toggle="tab" href="#Riskes" role="tab" aria-controls="Riskes" aria-selected="false">Riskes</a>
                                    </li>
                                  </ul>
                            </div>
                            <div class="card-body p-0">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="Milestons" role="tabpanel" aria-labelledby="Milestons-tab">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">MID</th>
                                                    <th scope="col">Milestones/Main Tasks</th>
                                                    <th scope="col">Start Date</th>
                                                    <th scope="col"> Actual/Forecasted End Date</th>
                                                    <th scope="col">Weight</th>
                                                    <th scope="col">Completion</th>
                                                    <th scope="col">Status</th> 
                                                    <th></th>
                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">MID0021</td>
                                                    <td>Project Name dev></td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020 - 20/10/2020</td>
                                                <td><b>30%</b></td>
                                                    <td><b>10%</b></td>
                                                    <td><span class="badge complete-state text-white">Compeleted</span></td>
                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                                <tr>
                                                    <td scope="row">MID0021</td>
                                                    <td>Project Name dev></td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020 - 20/10/2020</td>
                                                    <td><b>30%</b></td>
                                                    <td><b>10%</b></td>
                                                    <td><span class="badge slightly-Delayed-state text-white">In Progress</span></td>

                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                                <tr>
                                                    <td scope="row">MID0021</td>
                                                    <td>Project Name dev></td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020 - 20/10/2020</td>
                                                    <td><b>30%</b></td>
                                                    <td><b>10%</b></td>
                                                    <td><span class="badge Delayed-state text-white">Delayed</span></td>
                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                                <tr>
                                                    <td scope="row">MID0021</td>
                                                    <td>Project Name dev></td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020 - 20/10/2020</td>
                                                    <td><b>30%</b></td>
                                                    <td><b>10%</b></td>
                                                    <td><span class="badge Delayed-state text-white">Delayed</span></td>

                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                                <tr>
                                                    <td scope="row">MID0021</td>
                                                    <td>Project Name dev></td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020 - 20/10/2020</td>
                                                    <td><b>30%</b></td>
                                                    <td><b>10%</b></td>
                                                    <td><span class="badge Delayed-state text-white">Delayed</span></td>
                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                
                                            </tbody>
                                        </table>
                                        <div class="card-footer d-flex">
                                            <div> <span>showing: </span><select>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                </select>
                                            </div>
                                            <div class="text-right">
                                                <span>showing 10/100</span> <a href="" class="previous"><svg width="1em" height="1em"
                                                        viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                                    </svg></a>
                                                <a href="" class="next"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-arrow-right-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                    </svg></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Issues" role="tabpanel" aria-labelledby="Issues-tab">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Related Risk ID</th>
                                                    <th scope="col">Date Raised</th>
                                                    <th scope="col">RAG/Impact</th>
                                                    <th scope="col">Consequences</th>
                                                    <th scope="col">Resolution Plan</th> 
                                                    <th scope="col">Owner</th> 
                                                    <th scope="col">Planned Closure Date</th> 
                                                    <th scope="col">Actual Closure Date</th> 
                                                    <th scope="col"> Status</th> 
                                                    <th></th>
                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">ISS0021</td>
                                                    <td>Project Name dev></td>
                                                    <td scope="row">RSK002002</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td>
                                                        <span class="badge impact-critical text-white">critical</span>
                                                        <span class="badge impact-major text-white">Major</span>
                                                        <span class="badge impact-moderate text-white">Modrate</span>
                                                        <span class="badge impact-minor text-white">Minor</span>
                                                    </td>
                                                    <td class="text-primary"> Project Name dev</td>
                                                    <td>Resolution Plan</td>
                                                    <td>Motasem Alsmdi</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td><span class="badge complete-state text-white">Compeleted</span></td>
                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                        <div class="card-footer d-flex">
                                            <div> <span>showing: </span><select>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                </select>
                                            </div>
                                            <div class="text-right">
                                                <span>showing 10/100</span> <a href="" class="previous"><svg width="1em" height="1em"
                                                        viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                                    </svg></a>
                                                <a href="" class="next"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-arrow-right-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                    </svg></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Riskes" role="tabpanel" aria-labelledby="Riskes-tab">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Probability</th>
                                                    <th scope="col">Date Raised</th>
                                                    <th scope="col">Impact</th>
                                                    <th scope="col">Severity/ RAG</th>
                                                    <th scope="col"> Mitigation Plan</th>
                                                    <th scope="col">Owner</th> 
                                                    <th scope="col">Planned Closure Date</th> 
                                                    <th scope="col">Actual Closure Date</th> 
                                                    <th scope="col"> Status</th> 
                                                    <th></th>
                
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">ISS0021</td>
                                                    <td>Project Name dev></td>
                                                    <td scope="row">30%</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td>
                                                        <span class="badge impact-critical text-white">critical</span>
                                                        <span class="badge impact-major text-white">Major</span>
                                                        <span class="badge impact-moderate text-white">Modrate</span>
                                                        <span class="badge impact-minor text-white">Minor</span>
                                                    </td>
                                                    <td class="text-primary"> Project Name dev</td>
                                                    <td>Resolution Plan</td>
                                                    <td>Motasem Alsmdi</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td class="text-primary">20/10/2020</td>
                                                    <td><span class="badge complete-state text-white">Compeleted</span></td>
                                                    <td><a class="info-btn" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                class="bi bi-info-circle" fill="currentColor"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                <path
                                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                                <circle cx="8" cy="4.5" r="1" />
                                                            </svg></a>
                                                        </td>
                
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                        <div class="card-footer d-flex">
                                            <div> <span>showing: </span><select>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                </select>
                                            </div>
                                            <div class="text-right">
                                                <span>showing 10/100</span> <a href="" class="previous"><svg width="1em" height="1em"
                                                        viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                                                    </svg></a>
                                                <a href="" class="next"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-arrow-right-short" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                                    </svg></a>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <%= require('html-loader!../blocks/footer.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">

    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function () {

            $(".progress").each(function () {

                var value = $(this).attr('data-value');
                var left = $(this).find('.progress-left .progress-bar');
                var right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }

            })

            function percentageToDegrees(percentage) {

                return percentage / 100 * 360

            }

        });

        /* Get the documentElement (<html>) to display the page in fullscreen */
        var elem = document.documentElement;

        /* View in fullscreen */
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) {
                /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) {
                /* IE11 */
                elem.msRequestFullscreen();
            }

            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) {
                /* Safari */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) {
                /* IE11 */
                document.msExitFullscreen();
            }
        }


        var landing = new Vue({
            el: "#ProjectSite",
            data: {
                currentWeekDates: "",
                currentWeekYear: "",
                currentWeekMonth: "",
                weekEnd: "",
                WeekStart: "",
                today: new Date(),
                weekMonth: [],
                weekYear: [],
                projectProgress: 20,
                totalBudget: 70000,
                ConsumedBudget: 50300,
                ConsumedPercent: 0,
                NotCosumedPercent: 0

            },
            created: function () {
                this.currentWeekDates = this.getCurrentWeek();
                this.ConsumedPercent = Math.round((this.ConsumedBudget / this.totalBudget) * 100, 1);
                this.NotCosumedPercent = (100 - this.ConsumedPercent) + '%';
                this.ConsumedPercent = this.ConsumedPercent + '%'
            },
            methods: {
                //get weeks days
                getCurrentWeek: function () {
                    var currentDate = moment();


                    this.weekStart = currentDate.clone().startOf('isoWeek');
                    if (currentDate.format("ddd") == 'Sun') {
                        this.weekStart = currentDate;
                    }
                    this.weekEnd = currentDate.clone().endOf('isoWeek');


                    var days = [];

                    for (var i = 0; i <= 6; i++) {

                        var day = {
                            today: false,
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return days;
                },
                getNextWeek: function () {

                    var nextDate = this.weekStart.add(1, 'weeks');
                    this.weekStart = nextDate.clone();
                    var days = [];

                    for (var i = 0; i <= 6; i++) {
                        var day = {
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return this.currentWeekDates = days;

                },
                getPrevWeek: function () {

                    var PrevDate = this.weekStart.subtract(1, 'weeks');

                    this.weekStart = PrevDate.clone();
                    this.weekEnd = PrevDate.clone().endOf('isoWeek');

                    var days = [];

                    for (var i = 0; i <= 6; i++) {
                        var day = {
                            dayyear: moment(this.weekStart).add(i - 1, 'days').format("YYYY"),
                            daymonth: moment(this.weekStart).add(i - 1, 'days').format("MMMM"),
                            dayName: moment(this.weekStart).add(i - 1, 'days').format("ddd"),
                            dayNum: moment(this.weekStart).add(i - 1, 'days').format("D"),
                            events: [{
                                eventType: "Task",
                                eventUrl: "www.google.com"
                            }]

                        }
                        if (moment(this.weekStart).add(i - 1, 'days').format("YYYY/MMM/D") == moment(this
                                .today).format("YYYY/MMM/D")) {
                            day.today = true;
                        }
                        days.push(day);
                    }
                    this.weekMonth = [days[0].daymonth];
                    this.weekYear = [days[0].dayyear];
                    if (days[6].daymonth != this.weekMonth)
                        this.weekMonth.push(days[6].daymonth)
                    if (days[6].dayyear != this.weekYear)
                        this.weekYear.push(days[6].dayyear)
                    return this.currentWeekDates = days;
                }
            }
        });
    </script>

</body>

</html>